@model ChatMVC.Models.ModelsToView.MessagesPlusChatView

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../../Content/ChatStyle.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
</head>
<body>
    <div class="container chat-window">
        <div class="row">

            <div class="col-md-2 chats-bar">
                @Html.ActionLink($"Добавить чат", "AddChat", "Chats", new { @class = "btn btn-default chats-bar-chat" })
                <div class="chats-bar-label">Список чатов</div>
                @foreach (var chat in Model.chatViews)
                {
                    @Html.ActionLink($"{chat.Name}", "ChatWithUser", "Chats", new { id = chat.Id }, new { @class = "btn btn-default chats-bar-chat" })
                }
               @Html.Partial("_LoginPartial")

               @* @Html.ActionLink("LogOut", "LogOff", "Account", new { @class = "btn btn-default chats-bar-log-off" })*@

            </div>
            <div class="col-md-10 scroll" id="scrollToBot">
                @if (Model.currentChat != null)
                {
                    <div style="padding-left: 26px; padding-right: 26px" id="a1">

                        @foreach (var item in Model.currentChat.Messages)
                        {

                            if (item.UserName == ViewBag.Text)
                            {
                                <div class="from-me p"><p>@Html.DisplayFor(modelItem => item.Text)</p></div>
                            }
                            else
                            {
                                <div class="from-them p"><p> @Html.DisplayFor(modelItem => item.Text)</p></div>

                            }
                        }

                    </div>
                    <div class="chat-bar">
                        @using (Html.BeginForm("ChatWithUser", "Chats", FormMethod.Post))
                        {

                            <input type="hidden" value="@Model.currentChat.Id" name="id" />


                            <div class="input-group">

                                <input class="form-control" style="max-width: none; padding-right: 5px" type="text" name="message" placeholder="Введите сообщение ">
                                <span class="input-group-btn">
                                    <input type="submit" value="Отправить" class="btn btn-default" />
                                </span>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <h1>Выберите чат</h1>
                }
            </div>
        </div>

    </div>

</body>
</html>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script type="text/jscript">

    $(document.querySelector("#a1")).ready(() => {
        var element = document.getElementById("scrollToBot");
        element.scrollTop = element.scrollHeight - element.clientHeight;
    })
    setTimeout(function(){ location.reload(); }, 3000);
</script> 